## LÄS IN CSV FIL
-Identifiera kategorier

In [ ]:
import pandas as pd

#Läser in data från en CSV fil och skapar en DataFrame
df = pd.read_csv("data/ecommerce_sales.csv") 

print(df.head()) #Testar att skriva ut de första raderna i dataframen
print(df.info()) #Visar information om dataframen
def top_cities(df):
    return ((df.groupby("city")["revenue"].agg("sum").sort_values(ascending=False).head(3))/1000).round(1)
city_ranking = top_cities(df)
print("Topp 3 städer efter intäkter i tusen:\n", city_ranking,sep="\n")

   order_id        date       city     category   price  units  revenue
0    100000  2024-04-19  Stockholm       Sports  530.95      4  2123.80
1    100001  2024-05-06      Malmö       Sports  653.28      3  1959.84
2    100002  2024-03-07    Uppsala     Clothing  177.98      4   711.92
3    100003  2024-04-08   Göteborg         Home  348.57      3  1045.71
4    100004  2024-01-18    Uppsala  Electronics  777.07      3  2331.21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  2500 non-null   int64
 1   date      2500 non-null   object
 2   city      2500 non-null   object
 3   category  2500 non-null   object
 4   price     2500 non-null   float64
 5   units     2500 non-null   int64
 6   revenue   2500 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 136.8+ KB
None
Topp 3 städer efter intäkter i tusen:

city
Stockholm    1227.2
Göteborg      859.0
Malmö         567.9
Name: revenue, dtype: float64